@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');



*{
    color: black;  
}
#my-data{
    font-family: 'Libre Baskerville', serif;
}
.userMessage{
    padding: 1em;
    padding-bottom: .5em;
    box-sizing: border-box;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1em black;
    padding-left: 3em;
    margin-bottom: 1em;
}

.userPost{
    padding: 1em;
    padding-bottom: .5em;
    box-sizing: border-box;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1em black;
    padding-left: 3em;
   
   
}
#link-to-update{
    text-decoration: none;
}
#title.profile.post{
   padding-right: 10em;
}
